<div class="container-fluid">
  <p-table id="materialsTable" #materialsTable [columns]="materialsTableCols" [value]="materials" dataKey="id" sortMode="multiple" editMode="row">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="text-align: center">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th style="width:95px"></th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <p-dropdown *ngSwitchCase="'type'" [options]="types" showTransitionOptions="0ms ease-out" [autoDisplayFirst]="false" [style]="{'width':'100%'}" (onChange)="materialsTable.filter($event.value, col.field, 'equals')"></p-dropdown>
          <input *ngSwitchCase="'name'" pInputText type="text" (input)="materialsTable.filter($event.target.value, col.field, col.filterMatchMode)">
          <input *ngSwitchCase="'thickness'" pInputText type="number" (input)="materialsTable.filter($event.target.value, col.field, col.filterMatchMode)">
          <p-dropdown *ngSwitchCase="'surface'" [options]="surfaces" showTransitionOptions="0ms ease-out" [autoDisplayFirst]="false" [style]="{'width':'100%'}" (onChange)="materialsTable.filter($event.value, col.field, 'equals')"></p-dropdown>
          <input *ngSwitchCase="'fullName'" pInputText type="text" (input)="materialsTable.filter($event.target.value, col.field, col.filterMatchMode)">
          <p-dropdown *ngSwitchCase="'finish'" [options]="finishes" showTransitionOptions="0ms ease-out" [autoDisplayFirst]="false" [style]="{'width':'100%'}" (onChange)="materialsTable.filter($event.value, col.field, 'equals')"></p-dropdown>
        </th>
        <th style="text-align:center">
          <p-button type="button" icon="pi pi-plus" styleClass="ui-button-info" (click)="onMaterialAdd(rowData)"></p-button>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
        <td style="text-align:center">
          <p-button type="button" icon="pi pi-pencil" styleClass="ui-button-info" (click)="onMaterialEdit(rowData)"></p-button>
          <p-button type="button" icon="pi pi-trash" styleClass="ui-button-danger" (click)="onMaterialDelete(rowData)"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>