.home-wrapper {
    height: calc(100vh - 58px);
    background-image: url("/billing/assets/images/lemet-stone-logo2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}