<nav class="navbar navbar-expand-lg navbar-dark navbar-custom-bg">
  <a class="navbar-brand" routerLink="/home"><img src="assets/images/lemet-stone-logo1.jpg" class="logo"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home"><i class="pi pi-home"></i>Acasa</a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"><i class="pi pi-shopping-cart"></i>Comenzi</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/orders"><i class="pi pi-list"></i>Vezi Comenzi</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/orders/add"><i class="pi pi-plus"></i>Comanda Noua</a>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/materials"><i class="pi pi-folder-open"></i>Materiale</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/workmanship/prices"><i class="pi pi-tags"></i>Preturi Manopera</a>
      </li>
    </ul>
    <div *ngIf="authService.currentUser" class="nav-item dropdown" style="margin-left: auto; color: white;">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <span style="vertical-align: middle"><i class="pi pi-user"></i></span>
        <span>{{authService.currentUser.username}}</span>
      </a>
      <div class="dropdown-menu" style="left: -40px" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" routerLink="/login" (click)="authService.logout()"><i class="pi pi-sign-out" style="vertical-align: middle !important;"></i>Delogheaza-te</a>
      </div>
    </div>
  </div>
</nav>