<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <title>Modifica factura</title>
</head>  
 
<body>
	 <div class="container">
	    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	</div>
 
	 <div layout:fragment="content" class="container" >
		<div class="col-xs-6 col-md-6">
             <h3>
                 <a href="/invoice" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span>Mergi la lista cu facturile</a>
             </h3>
             <h2>Modifica factura</h2>
                <form action="/updateInvoice">
                    <div class="form-group">
                        <label for="lungime">Lungime: </label>
                        <input type="number" step="any" class="form-control" name="lungime" th:value="${invoice.lungime}" />
                    </div>
                    <div class="form-group">
                        <label for="latime">Latime: </label>
                        <input type="number" step="any" class="form-control" name="latime" th:value="${invoice.latime}" />
                    </div>
                    <div class="form-group">
                        <label for="profilareL1">Profilare L1: </label>
                        <input type="number" step="any" class="form-control" name="profilareL1" th:value="${invoice.profilareL1}" />
                    </div>
					<div class="form-group">
                        <label for="profilareL2">Profilare L2: </label>
                        <input type="number" step="any" class="form-control" name="profilareL2" th:value="${invoice.profilareL2}" />
                    </div>
                    <div class="form-group">
                        <label for="profilareLstg">Profilare Lstg: </label>
                        <input type="number" step="any" class="form-control" name="profilareLstg" th:value="${invoice.profilareLstg}" />
                    </div>
                    <div class="form-group">
                        <label for="profilareLdr">Profilare Ldr: </label>
                        <input type="number" step="any" class="form-control" name="profilareLdr" th:value="${invoice.profilareLdr}" />
                    </div>
					<div class="form-group">
                        <label for="picuratorL1">Picurator L1: </label>
                        <input type="number" step="any" class="form-control" name="picuratorL1" th:value="${invoice.picuratorL1}" />
                    </div>
                    <div class="form-group">
                        <label for="picuratorL2">Picurator L2: </label>
                        <input type="number" step="any" class="form-control" name="picuratorL2" th:value="${invoice.picuratorL2}" />
                    </div>
                    <div class="form-group">
                        <label for="picuratorLstg">Picurator Lstg: </label>
                        <input type="number" step="any" class="form-control" name="picuratorLstg" th:value="${invoice.picuratorLstg}" />
                    </div>
					<div class="form-group">
                        <label for="picuratorLdr">Picurator Ldr: </label>
                        <input type="number" step="any" class="form-control" name="picuratorLdr" th:value="${invoice.picuratorLdr}" />
                    </div>
                    <div class="form-group">
                        <label for="nrBuc">Nr. buc: </label>
                        <input type="number" step="any" class="form-control" name="nrBuc" th:value="${invoice.nrBuc}" />
                    </div>
					
                    <input type="hidden" name="id" th:value="${invoice.id}" />

					
                    <button type="submit" class="btn btn-success">Salvare</button>
                </form>
         </div>
     </div>

<footer>
     <div class="container">
		<div class="footer">
		</div>
	</div>
</footer>

</body>
</html>