<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<th:block th:include="fragments/headerinc :: head"></th:block>
</head>

<body>

	<div class="container">
			<th:block th:include="fragments/header :: header"></th:block>
	
		<div layout:fragment="content" class="row">
			<div class="col-md-6">
				<h3>
					<a href="addInvoice" class="btn btn-primary"> <i
						class="fa fa-plus-square-o" aria-hidden="true"></i> <span>Adauga
							o noua factura</span>
					</a>
				</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 ml-auto">
				<h2>Intrari facturi</h2>
			</div>
			<div class="col-md-6 ml-auto">
				<form class="form-inline" action="/invoice" method="get">
					<label class="sr-only" for="id">Nr. factura</label> <input
						name="id" type="text" class="form-control mb-2 mr-sm-2" id="id"
						placeholder="Nr. intrare" />
					<button type="submit" class="btn btn-primary mb-2">Cauta dupa nr. facturii</button>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="table-responsive">
				<table class="table" id="invoice-table">
					<thead>
						<tr>
							<th>Nr. intrare</th>
							<th>Nr. factura</th>
							<th>Lungime (cm)</th>
							<th>Latime (cm)</th>
							<th>Profilare L1</th>
							<th>Profilare L2</th>
							<th>Profilare lstg</th>
							<th>Profilare ldr</th>
							<th>Picurator L1</th>
							<th>Picurator L2</th>
							<th>Picurator lstg</th>
							<th>Picurator ldr</th>
							<th>Nr. buc</th>
							<th>Taiere (ML)</th>
							<th>Profilare (ML)</th>
							<th>Picurator (ML)</th>
							<th>Suprafata (mp)</th>
						</tr>
					</thead>
					<tbody>

						<th:block th:each="order : ${orders}">
							<tr th:each="inv: ${order.invoices}">

								<td><a th:text="${inv.id}"
									th:href="@{'/showInvoice/' + ${inv.id}}"></a></td>
								<td th:text="${order.id}"></td>
								<td th:text="${inv.lungime}"></td>
								<td th:text="${inv.latime}"></td>
								<td th:text="${inv.profilareL1}"></td>
								<td th:text="${inv.profilareL2}"></td>
								<td th:text="${inv.profilareLstg}"></td>
								<td th:text="${inv.profilareLdr}"></td>
								<td th:text="${inv.picuratorL1}"></td>
								<td th:text="${inv.picuratorL2}"></td>
								<td th:text="${inv.picuratorLstg}"></td>
								<td th:text="${inv.picuratorLdr}"></td>
								<td th:text="${inv.nrBuc}"></td>
								<td th:text="${inv.taiereML}"></td>
								<td th:text="${inv.profilare}"></td>
								<td th:text="${inv.picurator}"></td>
								<td th:text="${inv.suprafata}"></td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<footer>
		<div class="container">
			<div class="footer"></div>
		</div>
	</footer>

</body>
</html>