<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <title>Arata Facturile</title>
</head>  
 
<body>
	 <div class="container">
	    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
	</div>
 
	 <div layout:fragment="content" class="container" >
		<div class="col-xs-6 col-md-6">
             <h3>
                 <a href="/invoice" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span>Mergi la lista cu facturile</a>
             </h3>
             <h2>Factura nr: <div th:text="${invoice.id}"></div></h2>
                <dl class="list">
                	<dt>Lungime (cm): </dt>
                    <dd th:text="${invoice.lungime}"></dd>
                    <dt>Latime (cm): </dt>
                    <dd th:text="${invoice.latime}"></dd>
                    <dt>Profilare L1: </dt>
                    <dd th:text="${invoice.profilareL1}"></dd>
                	<dt>Profilare L2: </dt>
                    <dd th:text="${invoice.profilareL2}"></dd>
                    <dt>Profilare Lstg: </dt>
                    <dd th:text="${invoice.profilareLstg}"></dd>
                    <dt>Profilare Ldr: </dt>
                    <dd th:text="${invoice.profilareLdr}"></dd>
		            <dt>Picurator L1: </dt>
                    <dd th:text="${invoice.picuratorL1}"></dd>
                    <dt>Picurator L2: </dt>
                    <dd th:text="${invoice.picuratorL2}"></dd>
                    <dt>Picurator Lstg: </dt>
                    <dd th:text="${invoice.picuratorLstg}"></dd>
                	<dt>Picurator Ldr: </dt>
                    <dd th:text="${invoice.picuratorLdr}"></dd>
                    <dt>Nr. buc: </dt>
                    <dd th:text="${invoice.nrBuc}"></dd>
                    <dt>Taiere (ML): </dt>
                    <dd th:text="${invoice.taiereML}"></dd>			
                    <dt>Profilare (ML): </dt>
                    <dd th:text="${invoice.profilare}"></dd>	
                    <dt>Picurator (ML): </dt>
                    <dd th:text="${invoice.picurator}"></dd>	
                    <dt>Suprafata (mp): </dt>
                    <dd th:text="${invoice.suprafata}"></dd>	
                </dl>
                <form action="/deleteInvoice">
                    <input type="hidden" name="id" th:value="${invoice.id}" />
                    <h2><input type="submit" class="btn btn-danger" value="Sterge factura" 
                   							 onclick="return confirm('Sunteti sigur ca doriti sa stergeti factura?');" />
                        
                        <a th:href="@{'/editInvoice/' + ${invoice.id}}" class="btn btn-warning">Modifica Factura</a></h2>
                </form>
         </div>
     </div>

<footer>
     <div class="container">
		<div class="footer">
		</div>
	</div>
</footer>

</body>
</html>