.login-wrapper-bg {
    height: 100%;
    height: calc(100vh - 56px);
    background-image: linear-gradient(#2d8cec,#16b);
    display: flex;
}

.login-bg {
    width: 300px;
    height: 240px;
    position: relative;
    top: 30vh;
    align-items: center;
    background-color: white;
    padding: 25px;
}

.invalid-user-errormessage {
    color: red;
    font-size: 12px;
    margin-bottom: 13px;
}

.login-input {
    height: 32px;
    width: 240px;
    font-size: 14px;
    border-width: 0.7px;
}

#remember-me {
    height: 40px;
    width: 100%;
    font-size: 14px;
}
