<div class="container-fluid login-wrapper-bg">
  <div class="container login-bg">
    <form [formGroup]="userLoginForm" (ngSubmit)="onSubmitUserLoginForm()">
      <div class="p-grid">
        <div class="p-col-12" *ngIf="showErrorMessage" class="invalid-user-errormessage">
          Credentialele sunt incorecte.
        </div>
        <div class="p-col-12">
          <span class="ui-float-label">
            <input pInputText id="username" class="login-input" type="text" formControlName="username" size="30">
            <label for="username">Utilizator</label>
          </span>
        </div>
        <div class="p-col-12">
          <span class="ui-float-label">
            <input pInputText id="password" class="login-input" type="password" formControlName="password" size="30">
            <label for="password">Parola</label>
          </span>
        </div>
        <div class="p-col-12">
          <p-checkbox id="remember-me" [(ngModel)]="rememberMe" [ngModelOptions]="{standalone: true}" binary="true" label="Tine-ma minte"></p-checkbox>
        </div>
        <div class="p-col-12">
          <p-button label="Intra" type="submit" [disabled]="!userLoginForm.valid"></p-button>
        </div>
      </div>
    </form>
  </div>
</div>