<div *ngIf="order" id="print-section" style="display: none">
  <div class="contract-section">
    <div class="bold">CONTRACT DE VANZARE-CUMPARARE NR ____________/____________</div>
    <div style="margin-top: 120px; margin-bottom: 20px;">Incheiat intre:</div>
    <div>S.C. LEMET-STONE SRL, cu sediul in HALCHIU, Str. Bodului Nr. 628I, punect de lucru BRASOV Str. Grigore Ureche nr. 38, tel./fax 07455618287, CF RO 26490046 RC J08/159/2010 cont nr. RO78BTRLRONCRT0252264601 deschis la BANCA TRANSILVANIA BRASOV, reprezentata de Dl.BOGDAN STOICA in calitate de ADMINISTRATOR, denumita în prezentul  contract VANZATOR</div>
    <div style="margin-top: 70px; margin-bottom: 70px;">si</div>
    <div>{{order.clientMetadata.society}}, cu sediul in {{order.clientMetadata.city}}, str. {{order.clientMetadata.street}} nr. {{order.clientMetadata.streetNumber}}, CF RO {{order.clientMetadata.cfRo}}, RC {{order.clientMetadata.rc}}, cont nr. {{order.clientMetadata.account.first}}{{order.clientMetadata.account.second}}{{order.clientMetadata.account.third}}{{order.clientMetadata.account.fourth}}{{order.clientMetadata.account.fifth}}, deschis la {{order.clientMetadata.bank}}, reprezentata de {{order.clientMetadata.owner}} in calitate de {{order.clientMetadata.ownerStatus}}, denumita in prezentul contract CUMPARATOR.</div>
    <div class="bold" style="margin-top: 30px">1. OBIECTUL CONTRACTULUI</div>
    <div>1.1. Obiectul contractului este vanzarea-cumpararea a {{order.entriesTotal.totalPiecesNumber}} bucati piese din: {{order.material.fullName}}</div>
    <div>1.2. Partile contractante sunt de acord ca VANZATORUL sa vanda si CUMPARATORUL sa cumpere.</div>
    <div>1.3. Pretul marfii este {{order.totalPrice}} lei + TVA depozit Brasov</div>
    <div class="bold">2. CONDITII DE LIVRARE</div>
    <div>2.1. Marfa se va livreaza in urmatoarele conditii: Depozit Brasov</div>
    <div class="bold">3. VALOAREA CONTRACTULUI</div>
    <div>3.1. Valorea totala a contractului este de {{order.totalPrice}} lei (fara TVA)</div>
    <div class="bold">4. CONDITII DE PLATA</div>
    <div>4.1. CUMPARATORUL va achita 30% din valorea marfii si restul de 70% la LIVRARE</div>
    <div class="bold">5. OBLIGATIILE VANZATORULUI</div>
    <div>5.1. Sa anunte CUMPARATORUL cu cel putin 2 zile lucratoare inainte de sosirea marfii.</div>
    <div class="p-grid p-justify-between" style="margin-top: 160px">
      <div class="p-col-4">
        <div>S.C. LEMET-STONE SRL</div>
        <div>BOGDAN STOICA</div>
        <div>SEMNATURA si STAMPILA</div>
      </div>
      <div class="p-col-4">
        <div>{{order.clientMetadata.society}}</div>
        <div>{{order.clientMetadata.owner}}</div>
        <div>SEMNATURA si STAMPILA</div>
      </div>
    </div>
  </div>
  <div class="pagebreak"></div>
  <div class="annex-section">
    <div class="bold">ANEXA 1 la CONTRACT DE VANZARE-CUMPARARE NR ____________/____________</div>
    <table>
      <thead>
        <tr>
          <th colspan="1" rowspan="3"></th>
          <th colspan="1">MATERIAL</th>
          <th colspan="5">{{order.material.fullName}}</th>
        </tr>
        <tr>
          <th colspan="1">NR. COMANDA</th>
          <th colspan="1">SUPRAFATA MP</th>
          <th colspan="1">PROFILARE</th>
          <th colspan="1">PICURATOR</th>
          <th colspan="2">NUMAR DE BUC TOTAL</th>
        </tr>
        <tr>
          <td colspan="1">{{order.id}}</td>
          <td colspan="1">{{order.entriesTotal.totalArea}}</td>
          <td colspan="1">{{order.entriesTotal.totalProfiling}}</td>
          <td colspan="1">{{order.entriesTotal.totalDraining}}</td>
          <td colspan="2">{{order.entriesTotal.totalPiecesNumber}}</td>
        </tr>
        <tr>
          <th colspan="1">Nr. Crt.</th>
          <th colspan="2">LUNGIME CM</th>
          <th colspan="2">LATIME CM</th>
          <th colspan="2">NR DE BUCATI</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of order.entries; index as i">
          <td colspan="1">{{i + 1}}</td>
          <td colspan="2">{{entry.dimension.length}}</td>
          <td colspan="2">{{entry.dimension.width}}</td>
          <td colspan="2">{{entry.piecesNumber}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>